* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {}

nav {
    background-color: transparent;
}

nav:hover {
    background-color: darkslategray;
    opacity: .5;
    z-index: 1000;
    font-size: 1rem;

}

.nav-item:hover {
    background-color: darkblue;
    border-radius: 1rem 1rem 1rem 1rem;
    text-align: center;
    color: whitesmoke;
}

.carousel {
    top: -25px;
    /*
    background-color: rgba(108, 122, 137, 1);
    opacity: .5;
    z-index: 100;
*/

}

.carousel > img-fluid {
    height: 500px;
}
